.item {
    border-bottom: 1px solid cadetblue;
}

.item:last-of-type {
    border-bottom: none;
}

.users {
    border-collapse: collapse;
    width: 700px;
    margin-top: 10px;
    font-size: 25px;
}

.buttonsContainer {
    display: flex;
    justify-content: flex-end;
    width: 700px;
    align-items: end;
}

.container {
    width: 700px;
}

.thead {
    font-weight: bold;
    background: #127979;

}

.nameCol {
    padding: 3px;
}

.ageCol {

}